html,body{
    height: 100%;
}
ul,p{
    margin: 0;
}
ul{
    padding-left: 0;
    list-style-type: none;
}
a,a:focus, a:hover{
    text-decoration: none;
}
.container{
    width: 1170px;
    max-width: none !important;
}


.section-intro h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}
.section-intro p{
    font-size: 16px;
    margin: 20px 0 75px 0;
}
main section{
    padding: 150px 0;
}
.btn{
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn:hover{
    background-color: #fec503;
    border-color: #f6bf01;
    color: #fff;
}